<style>
    #ps-container-background {
        --ing-color: #ff6200;
        --visible-circle-size: 40rem;
        --toggle-size: 3rem;
        --root-2: 1.4142;
        position: absolute;
        top: calc(-1 * var(--visible-circle-size));
        left: calc(-1 * var(--visible-circle-size));
        padding-top: var(--visible-circle-size);
        padding-left: var(--visible-circle-size);
        height: calc(2 * var(--visible-circle-size));
        width: calc(2 * var(--visible-circle-size));
        background-color: var(--ing-color);
        border-radius: 50%;
        z-index: 99999;
        transition: transform 0.3s ease-out;
    }

    .ps-container-background-hidden {
        transform: translate(calc(var(--toggle-size) - var(--visible-circle-size)/var(--root-2)), calc(var(--toggle-size) - var(--visible-circle-size)/var(--root-2)));
    }

    #ps-container {
        height: calc(var(--visible-circle-size)/var(--root-2));
        width: calc(var(--visible-circle-size)/var(--root-2));
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    #ps-div-title {
        color: #fff;
    }

    .ps-input {
        margin: 0.8rem 0 !important;
    }

    .ps-button {
        width: 50%;
        height: 2.8rem;
        background-color: #fff;
        color: #333;
        border: 1px solid var(--ing-color);
    }

    .ps-button:hover {
        background-color: var(--ing-color);
        color: #fff;
        border: 1px solid #fff;
    }

    #ps-button-toggle {
        width: var(--toggle-size);
        height: var(--toggle-size);
        background-color: transparent;
        border: none;
        padding: 0;
        outline: none;
        position: relative;
        top: calc(-1 * var(--toggle-size));
        left: calc(var(--visible-circle-size)/1.4142 - var(--toggle-size));
    }
    
    .arrow {
        border: solid #fff;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
    }
    
    .upleft {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }

    .ps-container-background-hidden .upleft {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
</style>
<div id="ps-container-background">
    <div id="ps-container">
        <div id="ps-div-title">Moje ING - masked password filler</div>
        <input id="ps-input-login" class="form-control ps-input" type="text" />
        <button id="ps-button-login" class="ing-new-theme button.primary ps-button">Fill login</button>
        <input id="ps-input-password" class="form-control ps-input" type="password" />
        <button id="ps-button-password" class="ing-new-theme button.primary ps-button">Fill password</button>
    </div>
    <button id="ps-button-toggle"><i class="arrow upleft"></i></button>
</div>